<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>요바나시 멤버 등록</title>
</head>
<body>

<div align="center">
    <h2>여러분과 일하게 되어 영광입니다 요바나시는 귀하의 무궁한 발전을 기원 합니다</h2>
    <hr>
    <form method="post" action = "/regist">
        성함 : <input type = "text" name = "name"><p></p>
        최초 아이디 설정 : <input type="text" name = "email"><p></p>
        최초 비밀번호 설정 : <input type="text" name = "password"><p></p>
        최초 협의된 시급 : <input type="text" name="money"><p></p>
        직책 :
        <select name = "position">
            <option>홀</option>
            <option>서비스 바</option>
        </select>
        <input type="submit" value="등록">
        <a href = "/">[뒤로 가기]</a>
    </form>
</div>



</body>
</html>