<!--title : exsalaryPage-->
<!--설명 : 월급 양식-->
<!--작성자 : 박민기-->
<!--생성일 : 2024.03.06-->
<!--업데이트 : 2024.03.06-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>월급 양식</title>
</head>
<body>
<div align="center">
    <h2>월급 작성 양식</h2>
    <p>
        이름 : 홍길동 <br>
        주민등록번호 : 990107 -<br>
        계좌번호 : 123456789 국민<br>
        ---------------------------------------<br>
        <br>
        2월 한달 총 근태<br>
        <br>
        2/3<br>
        출근 10:00<br>
        퇴근 21:20<br>
        (11:20) 브x<br>
        <br>
        2/4<br>
        출근 10:00<br>
        퇴근 21:40<br>
        (11:40) 브x<br>
        <br>
        2/11<br>
        출근 10:00<br>
        퇴근 21:40<br>
        (11:40) 브x<br>
        <br>
        2/12<br>
        출근 12:00<br>
        퇴근 21:30<br>
        (09:30) 브x<br>
        <br>
        2/17<br>
        출근 10:30<br>
        퇴근 22:00<br>
        (11:30) 브x<br>
        <br>
        2/18<br>
        출근 11:00<br>
        퇴근 17:10<br>
        (06:10) 브x<br>
        <br>
        2/24<br>
        출근 11:00<br>
        퇴근 21:20<br>
        (10:20) 브x<br>
        <br>
        2/25<br>
        출근 10:00<br>
        퇴근 21:00<br>
        (11:00) 브x<br>
        <br>
        ---------------------------------------<br>
        급여 내용<br>
        <br>
        시급 : 10000원<br>
        총 근무시간 : 83.166시간 (83:10)<br>
        총급여 : (83:10) X 10000원 : 831,666원<br>
        계좌번호 : 123456789 국민<br>
        ---------------------------------------<br>
    </p>
    <a href = "/">뒤로가기</a>
</div>
</body>
</html>